section {
    padding: 0px 12px;
    margin: 100px 0px;
}

section>div>div:hover {
    cursor: pointer;
}

#displayContents>div,
#womenOriginals>div,
#bestOfAdidas>div {
    /* border: 1px solid black; */
    width: 19%;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

.wishlistSymbol {
    position: absolute;
    top: 16px;
    right: 16px;
}

.price1 {
    background-color: white;
    padding: 0px 5px;
    position: absolute;
    bottom: 50px;
    left: 16px;
}

.price {
    background-color: white;
    padding: 0px 5px;
    position: absolute;
    bottom: 40px;
    left: 16px;
}

#displayContents,
#womenOriginals,
#bestOfAdidas {
    display: flex;
    grid-gap: 10px;
    width: 100%;
    overflow-x: scroll;
    width: 1350px;
    padding-right: 20px;
}

img {
    width: 100%;
}

h4 {
    margin: 5px 0px;
    font-size: 16px;
}

p {
    margin: 10px 0px;
    font-size: 16px;
    color: rgb(44, 44, 44);
}

a {
    color: black;
    font-size: 13px;
    font-weight: 700;
}

h6 {
    margin: 2px;
    font-weight: 100;
}

#categoryShop>div {
    /* border: 1px solid red; */
    width: 300px;
}

#categoryShop>div>div {
    border: 1px solid black;
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bolder;
    width: 150px;
    padding: 15px;
}

#categoryShop {
    display: flex;
    grid-gap: 10px;
    font-family: 'Noto Sans', sans-serif;
}

#womenDescription {
    margin: auto;
    width: 650px;
    text-align: center;
}

#womenDescription>p {
    font-size: 19px;
}


/* -------------------------------------------- */

#container_banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 50px auto;
    height: 250px;
}

.container_banneer_img1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-COLOR: #ebeff1;
}

.container_banneer_img1>img {
    width: 80%;
    height: 200px;
}

.container_banneer_img1>h5 {
    text-decoration: underline;
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.container_banneer_img1>h5:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}


/*
@media only screen and (min-width:600px)and (max-width:960px) {
    #container_banner {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 50px auto;
    }
    .container_banneer_img1 {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-COLOR: #ebeff1;
        align-items: flex-end;
    }
    .container_banneer_img1>img {
        width: 50%;
        height: auto;
    }
}

@media only screen and (min-width:0px)and (max-width:599px) {
    #container_banner {
        grid-template-columns: repeat(1, 1fr);
    }
    .container_banneer_img1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
    }
    .container_banneer_img1>img {
        width: 40%;
        height: auto;
    }
}

*/